@import 'mixin.scss';

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueLTStd-Bd.otf') format('opentype'),
  url('../fonts/HelveticaNeueLTStd-Bd.woff') format('woff'),
  url('../fonts/HelveticaNeueLTStd-Bd.ttf') format('truetype'),
  url('../fonts/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd') format('svg');
  font-weight: 600;
  font-style: normal;
}




html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: "HelveticaNeue";
}

.wrapper {
  width: 100%;
  max-width: 80em;
  margin: 0 auto;
}

